@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* height: 100vh; */
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
	background: #d9d9d9;
}

#root {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 25% 25% 25% 25%;
	align-content: stretch;
	/* min-height: 50vh; */
}


.pizza {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 5;
}

.toppings {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	
	background: rgba(255, 193, 7, 0.5);
}



.drinks {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
	
	background: rgba(0, 230, 118, 0.45);
}

.checkout {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 5;
}
